.background-banner {
    background-image: url("assets/images/Background_QuaySo_ngang.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vh;
    height: 100vh;
    display: flex;
}

.container-wheel {
    margin-top: 240px;
    margin-left: 250px;
    display: flex;
}
.banner {
    position: absolute;
    border-left: 4px solid white;
    right: 0;
    top: 0;
    width: 600px;
    height: 100%;
}