.background-banner {
    background-image: url("assets/images/Background_QuaySo_doc.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vh;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.container-wheel {
    margin-top: 290px;
    display: flex;
    justify-content: center;
}
.banner {
    position: absolute;
    left: 188px;
    bottom: 80px;
    width: 63%;
    height: 20vh;
}